<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Frequently Asked Questions</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/hero-img.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<!--   <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
 -->
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet"> 
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'css/faq.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/test2.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/test4.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/test5.css' %}">




  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->
  <!-- =======================================================
  * Template Name: Bocor - v2.0.0
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex justify-content-sm-center ">

      <div class="logo mr-auto p-2 bd-highlight">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>|</span> Tutify <span>|</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      
      <nav class="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#about">For Students</a></li>
          <li><a href="#services">For Tutors</a></li>
          <li><a href="#portfolio">Find Tutors</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <nav class="nav-menu-container">
        <span class="nav-men">
          {% if user.is_authenticated %}
            <li class="get-started"><a href="{% url 'accounts:logout' %}">Log Out</a></li>
            <li class="get-started"><a href="{% url 'profile_info:profile' %}">Hello, {{user.username}} </a></li>
          {% else %}
            <li class="get-started"><a href="{% url 'accounts:login' %}">Log In</a></li>
            <li class="get-started"><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
          {% endif %}
        </span>
      </nav>
    </div>
  </header><!-- End Header -->


  <div class ="header-bg"></div>
  <!-- ======= Hero Section ======= -->
  <section class="faq ">
      <div class="container">
        <div class="faq-title">
          <h2>FAQs</h2>
        </div>
        <ul class="faq-list">
          <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
            <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false">How can I (student) contact tutors? <i class="fa fa-arrow-up"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list" style="">
              <p>
                You can search for tutors and if you find one you can send a request through our website. Or you can directly contact with the contact info given by tutors.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq2" class="collapsed">How are ratings given to tutors? <i class="fa fa-arrow-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Ratings are given by students through our website. No one has permision to modify it.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq3" class="collapsed">Can I teach more than one subject/skill? <i class="fa fa-arrow-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Yes, You can add new subject skill after login.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq4" class="collapsed">How should I pay tutors?<i class="fa fa-arrow-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
               Paying tutors is completely dependent on tutors. You should contact your tutor for this matter.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq5" class="collapsed">What if tutor is lied about his subject/skill knowledge? <i class="fa fa-arrow-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                You can report them and strict action will be taken.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq6" class="collapsed">Are online tutors available? <i class="fa fa-arrow-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                Yes, Online tutors are available but mode of comunication will be decided by respective tutors.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>


  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->

    

</body>

</html>