<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Student DashBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb.css' %}">
</head>
<body>

<header id="header">
    <div class="d-flex justify-content-sm-center ">

      <div class="logo mr-auto p-2 bd-highlight">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>|</span> Tutify <span>|</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      
      <nav class="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>r
          </li> -->
          <li><a href="#contact">Contact Us</a></li>
          <li><<a href="#contact"><i class="fa fa-bell"></i></a></li>
        </ul>
      <!-- </nav>

      <nav class="nav-menu-container"> -->
        
      </nav>
    </div>
  </header><!-- End Header -->


  <div class ="header-bg"></div>
  <div class="grid">
 <section class="cont"> 
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
  <div class="side-nav">
    <div class="image">
      <a href="index2.html">
      
    </a>
    </div>
    <a href="#"><button><i class="fa fa-search" aria-hidden="true"></i>&nbsp&nbsp Find New Tutors</button></a>
    <a href="#"><button><i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbsp My Tutors</button></a>
    <a href="#"><button><i class="fa fa-comments" aria-hidden="true"></i>&nbsp&nbsp Messages</button></a>
    <a href="#"><button><i class="fa fa-cog" aria-hidden="true"></i>&nbsp&nbsp Settings</button></a>
    <a href="#"><button><i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbsp Contact Us</button></a>
  </div>
</div >
<div class="col-lg-9">
  <section id="services">
  <div class="container wow fadeIn">
        <div class="section-header">
          <h2 class="section-title">Categories</h2>
          
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-music" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Music & Dance</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-book" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Academics</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-language" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Languages</a></h4>
              <p class="description"></p>            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-heartbeat" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Fitness</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-futbol-o" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Sports</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">IT</a></h4>
              <p class="description"></p>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>
  </div>

</section>

</section>

</div>
</body>
</html>
