<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Student DashBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

   .search{
     position:relative;
     left:195px;
     top:50px;
     }
     .location{
     position:relative;
     left:30px;
     }
     .search-location{
     position:relative;
     left:50.8px;
     height:45px;
     width:200px;
     border:none;
     }
     .search-courses{
       position:relative;
       left:251px;
       bottom:45px;
     height:45px;
     width:350px;
     border:none;
     }
     .search-button{
     position:relative;
     left:600px;
     bottom:91px;
     width:75px;
     height:46px;
     background-color:#fdc134;
     }
      .btn{
    position:relative;
    left:600px;
    top:-90px;
    height:45px;
    background-color:#fdc314;
    }
     input[type=button]{
     border:none;
     }
</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- <style>
    body{
        width:100%;
        overflow-x:hidden;
        overflow-y:hidden;
    }
</style> -->

<header id="header">
    <div class="d-flex justify-content-sm-center ">

      <div class="logo mr-auto p-2 bd-highlight">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>|</span> Tutify <span>|</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>


      <nav class="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#contact"><i class="fa fa-bell"></i></a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->


  <div class ="header-bg"></div>
  <div class="grid">
 <section class="cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
  <div class="side-nav">
    <div class="image">
    </div>
    <a href="#"><button><i class="fa fa-search" aria-hidden="true"></i>&nbsp&nbsp Find New Tutors</button></a>
    <a href="#"><button><i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbsp My Tutors</button></a>
    <a href="#"><button><i class="fa fa-comments" aria-hidden="true"></i>&nbsp&nbsp Messages</button></a>
    <a href="#"><button><i class="fa fa-cog" aria-hidden="true"></i>&nbsp&nbsp Settings</button></a>
    <a href="#"><button><i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbsp Contact Us</button></a>
  </div>
</div >
<div class="col-lg-9">
   <form class="search" action="/dashboard/resultsearch/" method="get" novalidate="novalidate">
                  {% csrf_token %}
                      <div class="row justify-content-lg-center" data-aos="fade-down">
                           <div>
                                <select class="form-control search-location" id="id_location" name="location">
            <option disabled selected value>Select</option>
            <option>Guntur</option>
            <option>Chennai</option>
            <option>Mumbai</option>
              <option>Bangalore</option>
            <option>Sricity</option>
            <option>Vijayawada</option>
               <option>Delhi</option>
            <option>bapatla</option>
          </select>
                          </div>
                            <div>
                                <select class="form-control search-courses" id="id_subjects" name="subjects">
              <option disabled selected value> -- select an option -- </option>
              <option>Java Programming</option>
            <option>Web Development</option>
            <option>Badminton</option>
              <option>Cricket</option>
            <option>Guitar</option>
            <option>Western Dance</option>
            <option>Drums</option>
              <option>Gym Workout</option>
            <option>Football</option>
            <option>Hindi</option>
              <option>English</option>
            <option>Tamil</option>
            <option>Calculus</option>
            <option>IT-1</option>
              <option>IT-22</option>
            <option>IT-3</option>
            <option>Classic Dance</option>
              <option>Machine Learning</option>
          </select>
                            </div>


                          <div>
                              <input type="submit" class="btn" value="Search">
                          </div>
                      </div>

          </form>  <section id="services">
  <div class="container wow fadeIn">
        <div class="section-header">
          <h2 class="section-title">Categories</h2>

        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-music" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Music & Dance</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-book" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Academics</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-language" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Languages</a></h4>
              <p class="description"></p>            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-heartbeat" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Fitness</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-futbol-o" aria-hidden="true"></i></a></div>
              <h4 class="title"><a href="">Sports</a></h4>
              <p class="description"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">IT</a></h4>
              <p class="description"></p>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>
  </div>

</section>

</section>

</div>
</body>
</html>
